html{
    position: relative;
}

body{
    background-color: rgba(0,0,0,.3);
}

button{
    padding: 10 10;
}

#cancel{
    background-color: rgba(0,0,0,0);
}

#finished{
    //background-color: rgba(0,0,0,.5);
    //color: rgba(0,0,0,0)
}

input{
    padding: 5 5;
    font-size: 20px;
    align-items: left;
}
h1{
    color: rgba(0,0,0,1);
    font-family: Helvetica;
    margin: 20 20 20 20;
    position: relative;
}

h3{
    color: #ffffff;
    font-family: Arial;
    position: relative;
    margin: 20 20 20 20;
}

#newHowTo > input > {
    margin: 5 5;
}
