html{
    position: relative;
}

body{
    background-color: rgba(0,0,0,.3);
}

button{
    padding: 10 10;
    margin: 0 10 0 10;
    background-color: rgba(255,255,255,.5);
}

#cancel{
    background-color: rgba(0,0,0,0);
    position: absolute;
    left: 5%;
    top: 25%;
}

#finished{
    position: absolute;
    left: 5%;
    top: 30%;
}

#clear{
    position: absolute;
    left: 5%;
    top: 35%;
}

#newStepButton{
    position: absolute;
    left: 5%;
    top: 20%;
}
#newButton{
    position: absolute;
    left: 5%;
    top: 20%;
}

#taskTitle{
    position:relative;
    top: 15%;
    left: 15%;
}

/*input.newStep:nth-child(1n+1){
    position: relative;
    left:15%;
}*/
.newStep{
    position:absolute;
    top: 20%;
    left: 20%;
}

input{
    padding: 5 5;
    font-size: 20px;
    align-items: left;
}

h1{
    color: rgba(0,0,0,1);
    font-family: Helvetica;
    margin: 20 20 20 20;
    position: relative;
}

h3{
    color: #ffffff;
    font-family: Arial;
    position: relative;
    margin: 20 20 20 20;
}

/*#newHowTo > input > {
    margin: 5 5;
}*/
